# Drupal & Composer
/vendor/
/web/sites/default/files/
/web/sites/default/settings.php
/web/sites/default/settings.local.php
/web/modules/contrib/
/web/themes/contrib/
/web/sites/default/config/sync/.htaccess
/node_modules/swiper/
/web/themes/custom/tts/node_modules/

# Ignore environment files
.env


