<div class="seo-package-card-wrapper">
<div class="seo-package-card">
  <h2 class="seo-title">{{ content.field_title }}</h2>
  <p class="seo-description">{{ content.field_body }}</p>

  <div class="seo-sections">
    {{ content.field_seo_lists }}
  </div>

  <a href="get-a-quote" class="seo-btn">Get a Quote</a>
</div>
</div>