<div class="icon-title">
  {% if content.field_icon %}
    <span class="icon-title__icon">
      {{ content.field_icon }}
    </span>
  {% endif %}

  {% if content.field_title %}
    <span class="icon-title__text">
      {{ content.field_title }}
    </span>
  {% endif %}
</div>
